html {
	-webkit-text-size-adjust: 100%;
	line-height: 1.15
}

figure {
	margin: 1em 40px
}

hr {
	background-color: #e1e4e8;
	border: 0;
	box-sizing: content-box;
	display: block;
	height: .25em;
	margin: .5em 0;
	overflow: hidden;
	padding: 0
}

pre {
	background: #f6f8fa;
	font-family: monospace, monospace;
	font-size: 1em;
	overflow-x: auto;
	padding: 1em
}

a {
	background-color: transparent;
	color: #0366d6;
	text-decoration: none
}

abbr[title] {
	border-bottom: none;
	text-decoration: underline;
	text-decoration: underline dotted
}

b,
strong {
	font-weight: bolder
}

code,
kbd,
samp {
	font-family: monospace, monospace;
	font-size: 1em
}

small {
	font-size: 80%
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline
}

sub {
	bottom: -.25em
}

sup {
	top: -.5em
}

audio:not([controls]) {
	display: none;
	height: 0
}

img {
	border-style: none
}

legend {
	box-sizing: border-box;
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal
}

textarea {
	overflow: auto
}

summary {
	display: list-item
}

body {
	color: #24292E;
	font-family: medium-content-serif-font, Georgia, Cambria, "Times New Roman", Times, serif;
	line-height: 1.75em;
	margin: 0;
	padding: 0
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 600
}

h1 {
	font-size: 2em;
	margin: .67em 0
}

h2 {
	font-size: 1.5em
}

h3 {
	font-size: 1.25em
}

h4 {
	font-size: 1em
}

h5 {
	font-size: .875em
}

h6 {
	font-size: .85em
}

.title {
	font-size: 1.1em
}

.pull-left {
	float: left
}

.pull-right {
	float: right
}

a:hover {
	text-decoration: underline
}

.site-header {
	background-color: #f6f8fa;
	border-bottom: 1px solid #e1e4e8;
	border-top: 4px solid #24292E;
	font-size: .875rem;
	height: 2.5rem;
	margin-bottom: 1rem;
	position: relative;
	width: 100%
}

.site-paginator {
	text-align: center;
}

.site-footer {
	color: #999;
	font-size: .875rem;
	padding-bottom: 1rem;
	text-align: center
}

.site-title {
	float: left
}

.site-title,
.site-link {
	color: #24292E;
	display: inline-block;
	font-weight: 400;
	line-height: 2.5rem;
	position: relative
}

.site-link {
	padding-left: 1rem;
}

.site-nav {
	float: right
}

pre code {
	display: inline-block;
	line-height: 1.5;
}

code {
	background: #f6f8fa;
	font-family: Consolas, monospace;
	font-size: 0.75rem;
}

img,
iframe,
video {
	display: block;
	margin: 0 auto;
	max-width: 100%
}

main {
	padding-bottom: 1em
}

blockquote {
	background: #f9f9f9;
	border-left: 5px solid #ccc;
	padding: 3px 1em
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	box-sizing: border-box;
	display: block;
	margin: auto;
	overflow: auto;
	width: 100%;
}

table tr {
	background-color: #fff;
	border-top: 1px solid #c6cbd1;
}

table th,
table td {
	padding: 6px 13px;
	border: 1px solid #dfe2e5;
}

table th {
	font-weight: 400;
}

tr:nth-child(even) {
	background-color: #f6f8fa
}

.wrapper {
	margin-left: auto;
	margin-right: auto;
	max-width: 800px;
	min-width: 180px;
	padding: 0 15px
}

.page-content {
	word-wrap: break-word
}

.page-title, .post-title {
	font-size: 1.5em;
	font-weight: 400;
	line-height: 1.25em;
	margin-top: .25em
}

.post-title {
	margin-bottom: 0;
}

.post-title a {
	color: #24292E;
}

.post-meta {
	color: #999;
	font-size: .875rem;
	margin-bottom: 0;
	margin-top: .25em
}

footer {
	margin-bottom: .25em
}

article,
aside,
footer,
header,
nav,
section,
figcaption,
figure,
main,
details,
menu {
	display: block
}

audio,
video,
canvas {
	display: inline-block
}

template,
[hidden] {
	display: none
}

.chroma .lntd {
	vertical-align: top;
	padding: 0;
	margin: 0;
	border: 0
}

.chroma .lntable {
	border-spacing: 0;
	padding: 0;
	margin: 0;
	border: 0;
	width: auto;
	overflow: auto;
	display: block
}

.chroma .hl {
	display: block;
	width: 100%
}

.chroma .lnt {
	margin-right: .4em;
	padding: 0 .4em
}

.chroma .ln {
	margin-right: .4em;
	padding: 0 .4em
}

.chroma .kt {
	color: #458
}

.chroma .na,
.chroma .bo,
.chroma .nv,
.chroma .vc,
.chroma .vg,
.chroma .vi {
	color: teal
}

.chroma .nb {
	color: #0086b3
}

.chroma .nc {
	color: #458
}

.chroma .nd {
	color: #3c5d5d
}

.chroma .ni {
	color: purple
}

.chroma .ne,
.chroma .nf,
.chroma .nl {
	color: #900
}

.chroma .nn {
	color: #555
}

.chroma .nt {
	color: navy
}

.chroma .s,
.chroma .sa,
.chroma .sb,
.chroma .sc,
.chroma .dl,
.chroma .sd,
.chroma .s2,
.chroma .se,
.chroma .sh,
.chroma .si,
.chroma .sx,
.chroma .s1 {
	color: #d14
}

.chroma .sr {
	color: #009926
}

.chroma .ss {
	color: #990073
}

.chroma .m,
.chroma .mb,
.chroma .mf,
.chroma .mh,
.chroma .mi,
.chroma .il,
.chroma .mo {
	color: #099
}

.chroma .o {
	color: #000
}

.chroma .ow {
	color: #000
}

.chroma .c,
.chroma .ch,
.chroma .cm,
.chroma .c1 {
	color: #998
}

.chroma .bp,
.chroma .cs,
.chroma .cp,
.chroma .cpf,
.chroma .gh {
	color: #999
}

.chroma .gr {
	color: #a00
}

.chroma .gi {
	color: #000
}

.chroma .go {
	color: #888
}

.chroma .gp {
	color: #555
}

.chroma .gu {
	color: #aaa
}

.chroma .gt {
	color: #a00
}

.chroma .w {
	color: #bbb
}